@import "tailwindcss";

@layer base {}

@layer components {}

@layer utilities {}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@font-face {
  font-family: IRANSans;
  src: url("/assets/fonts/IRANSans/ttf/IRANSans-Regular.ttf");
  src:
    url("/assets/fonts/IRANSans/ttf/IRANSans-Regular.ttf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSans/woff2/IRANSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/IRANSans/woff/IRANSans-Regular.woff") format("woff"),
    url("/assets/fonts/IRANSans/ttf/IRANSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: IRANSans;
  src: url("/assets/fonts/IRANSans/ttf/IRANSans-Bold.ttf");
  src:
    url("/assets/fonts/IRANSans/ttf/IRANSans-Bold.ttf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSans/woff2/IRANSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/IRANSans/woff/IRANSans-Bold.woff") format("woff"),
    url("/assets/fonts/IRANSans/ttf/IRANSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: IRANSans;
  src: url("/assets/fonts/IRANSans/ttf/IRANSans-Thin.ttf");
  src:
    url("/assets/fonts/IRANSans/ttf/IRANSans-Thin.ttf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSans/woff2/IRANSans-Thin.woff2") format("woff2"),
    url("/assets/fonts/IRANSans/woff/IRANSans-Thin.woff") format("woff"),
    url("/assets/fonts/IRANSans/ttf/IRANSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: IRANSans;
  src: url("/assets/fonts/IRANSans/ttf/IRANSans-Light.ttf");
  src:
    url("/assets/fonts/IRANSans/ttf/IRANSans-Light.ttf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSans/woff2/IRANSans-Light.woff2") format("woff2"),
    url("/assets/fonts/IRANSans/woff/IRANSans-Light.woff") format("woff"),
    url("/assets/fonts/IRANSans/ttf/IRANSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: IRANSans;
  src: url("/assets/fonts/IRANSans/ttf/IRANSans-Medium.ttf");
  src:
    url("/assets/fonts/IRANSans/ttf/IRANSans-Medium.ttf?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSans/woff2/IRANSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/IRANSans/woff/IRANSans-Medium.woff") format("woff"),
    url("/assets/fonts/IRANSans/ttf/IRANSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #1A1A1A;
  --color-secondary: #4B4B4B;
  --color-accent: #E24C3B;
  --color-success: #4CAF50;
  --color-warning: #fb8c00;
  --color-error: #f44335;
  --color-background: #F5F5F5;
  --color-textPrimary: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */